body {
    background-color: #e6f0f1;
    font-family: 'Quicksand', sans-serif;
    color: #333333;
}

header, footer {
    background-color: #2a7f78;
    color: white;
}

.mynav_link {
    color: #ffffff;
}

.mynav_link:hover {
    color: #b497bd;
}

.button {
    background-color: #3faaa0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
}

.button:hover {
    background-color: #2c8b83;
}

.sectitle {
    color: #2a7f78;
}

.secsubtitle {
    color: #b497bd;
}
